<h1>Burgers Fam!</h1>

<h2>Burgers for later</h2>

<ul>
{{#each burgers}}
	{{#unless this.devoured}}
	<li>
	<p> {{this.id}}. {{this.burger_name}}

	<form action="/{{this.id}}?_method=PUT" method="POST">
	<input type="hidden" name="devoured" value="true">
	<button type="submit">DEVOUR</button>
	</form>
	</p>
	</li>
	{{/unless}}
{{/each}}
</ul>

<h2>Burgers are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
     <li>
       {{this.burger_name}}

       <form action="/{{this.id}}?_method=PUT"method="POST">
       	<input type="hidden" name="devoured" value="false"><button type="submit">UPCHUCK</button>
       </form>
       </li>
       {{/if}}
       {{/each}}
 </ul>

<h2>Add a Burger for Later</h2>

<form class="create-update-form" action="/" method="POST">

<div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="burger_name">
  </div>
<button type="submit">ADD BURGER</button>
</form>

<!--action will look similar for delete aswell-->
<h2>Update a Burger?</h2>
<form method="POST" action="/update?_method=PUT">
<input type="text" name="id" placeholder="id">
<textarea type="text" name="burger_name" placeholder="What do you want to update this burger to??"></textarea>
<button type="submit">UPDATE BURGER</button>
</form>
